<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="/suppliers">Suppliers</a>
    <a routerLink="/issues">Issues</a>
   </nav>
  </div>
  <router-outlet></router-outlet>
  <!--<app-supplier></app-supplier>-->
  <!--<app-issues></app-issues>-->

<router-outlet></router-outlet>
