<div style="text-align: center">
  <h2>List of Suppliers</h2>
  <table>
   <th>Id</th><th>Name</th><th>City</th><th>Rerefence</th><th>Status</th>
   <tr *ngFor="let supplier of supplierInfo.data">
    <td>{{supplier._id}}</td><td>{{supplier.name}}</td><td>{{supplier.city}}</td><td>{{supplier.reference}}</td><td>{{supplier.status}}</td>
  </tr>
</table>
</div>

