
<div style="text-align: center">
  <p>Stock Status</p>
  <div><span>Total:</span> {{retailer.total}} </div>
  <div><span>Limit:</span> {{retailer.limit}} </div>
  <div><span>Skip:</span> {{retailer.skip}} </div>
  <div><span>Issues:</span></div>
</div>
<table>
  <tr  *ngFor="let issue of retailer.data" >
    <td>
      <table>
       <tr>
          <td><h2>{{issue.title}}</h2></td>
          <td>{{issue.description}}</td>
          <td>{{issue.publisherString}}</td>
          <td>{{issue.publicationDate}}</td>
       </tr>
       <tr>
         <td *ngFor="let image of issue.images">
            <img src="{{image.path}}.{{image.extension}}"/>   
         </td>
       </tr>
     </table>
    </td>
 </tr>
</table>
  
